:root {
  --bg-color: #f7efef;
  --fg-color: #ff004f;
}

* {
  font-family: "Poppins", sans-serif;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.activeMenu {
  color: white;
  background-color: var(--fg-color);
  padding: 3px 8px;
}
header {
  background-color: var(--bg-color);
  max-width: 100%;
  height: 100vh;
  padding: 0 5%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
header nav h3 {
  color: black;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px;
  margin: 15px;
}

header nav ul li a {
  text-decoration: none;
  border: 1px solid var(--fg-color);
  border-radius: 4px;
  color: var(--fg-color);
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 3px 8px;

  transition: all 150ms ease-in-out;
}
header nav ul li :hover {
  color: white;
  background-color: var(--fg-color);

  padding: 3px 8px;
}

.header-text {
  display: flex;
  justify-content: space-between;

  margin-top: 10%;
  font-size: 24px;
}
.header-text .intro {
  flex-basis: 55%;
}
.dev-img {
  z-index: 1;
}
.dev-img img {
  width: 300px;
}
.header-text h1 {
  font-size: 50px;
  margin-top: 20px;
}
.header-text h1 span {
  color: var(--fg-color);
  letter-spacing: 2px;
  line-height: 1.5;
}

/* -------------services------------------ */
.services {
  margin-bottom: 0;
}
.services .title {
  margin: 30px;
}
.services .title h2 {
  margin-left: 20px;
  color: var(--fg-color);
  opacity: 0.8;
  text-align: center;
  font-size: 36px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.projects div {
  padding: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  grid-gap: 10px;
  margin: 20px;
  background-color: var(--bg-color);

  border-radius: 5px;
}
.projects img {
  max-width: 100%;
}
/* -----------about---------- */
.about {
  padding: 40px 15%;
  max-width: 100%;
}
.about .row {
  padding: 0 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 3%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.about .row .col-1 {
  flex-basis: 20%;
}

.about .row .col-1 img {
  width: 100%;
  border-radius: 8px;
}

.about .row .col-2 {
  flex-basis: 70%;
  background-color: var(--bg-color);
  padding: 20px 15px;
}
h2 {
  line-height: 1.5;
  letter-spacing: 2px;
  color: var(--fg-color);
}

.about .row .col-2 p {
  color: #000;
  opacity: 0.6;
  line-height: 2;
}
.about .tabTitle {
  display: flex;
  margin: 20px 0 40px;
}

